name: CI/CD Workflow

on:
  pull_request:
    branches: [develop]

jobs:
  backend-ci-cd:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Instalar dependências do backend
        run: npm install

      - name: Rodar ESLint
        run: npm run lint

      - name: Rodar Testes com Cobertura
        run: npm test

      - name: Build da aplicação (caso exista)
        run: npm run build
        continue-on-error: true
